<a href="/new_game">new game</a>
<br />

<hr />

<% if game.human_players %>
  <h2>current money = <%= game.human_money %> (finished = <%= game.finished %>)</h2>
  <% if game.finished %>
    <h3>Game finished</h3>
    <h4>Game result = <span style="color: red"><%= game.result %></span></h4>
  <% end %>

  dealer hand value: <b><%= game.dealer_player.hand.value %></b>
  <br />
  dealer cards:
  <ul>
    <% game.dealer_player.hand.cards.each do |card| %>
      <li>
        <% if card.opened? %>
          <%= card %>
        <% else %>
          <% if game.finished %>
            <%= card %>
          <% else %>
            **
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <ul>
    <% game.human_players.each_with_index do |hp, index| %>
      <li>
        <h3>current bet = <%= game.human_players[index].current_bet %></h3>
      </li>
      <li>
        playable: <%= hp.playable %>
      <br />
      hand value: <b><%= hp.hand.value %></b>
      <br />
      cards:
      <ul>
        <% hp.hand.cards.each do |card| %>
          <li><%= card %></li>
        <% end %>
      </ul>

      <ul>
        <h5>turns</h5>
        <% if hp.playable? %>
          <a href="/<%= index %>/take_card">/take_card</a><br />
          <a href="/<%= index %>/stay">/stay</a><br />

          <% if game.human_players.size < 2 %>
            <a href="/<%= index %>/split_hand">/split_hand</a><br />
          <% end %>

          <a href="/<%= index %>/double_bet">/double_bet</a>
        <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>

<form action="/make_bet" method="post">
  your bet: <input type="text" name="bet">
</form>
